<app-dialog [title]="isEdit ? 'Edit Parameter' : 'New Parameter'" [subtitle]="typeLabel"
            [icon]="isEdit ? 'edit' : 'add_circle'" badge>
  <app-parameter-form-fields [form]="form" [typeLabel]="typeLabel"
                             [activeSiblingName]="activeSiblingName()">
  </app-parameter-form-fields>

  <ng-container dialogActions>
    <button mat-button (click)="ref.close(false)">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">
      <mat-icon>{{ isEdit ? 'save' : 'add' }}</mat-icon> {{ isEdit ? 'Save Changes' : 'Create Parameter' }}
    </button>
  </ng-container>
</app-dialog>
